@import '../scss/brandy';

$media1: 500px;
$media2: max-width 700 min-width 500 orientation portrait;
$media3: color true 400px;

@include test('build-media', (
  $media1: (
    "any-hover": null, 
    "any-pointer": null, 
    "aspect-ratio": null, 
    "color": null, 
    "color-gamut": null, 
    "color-index": null, 
    "display-mode": null, 
    "grid": null, 
    "height": null, 
    "hover": null, 
    "inverted-colors": null, 
    "light-level": null, 
    "max-aspect-ratio": null, 
    "max-color": null, 
    "max-color-index": null, 
    "max-height": null, 
    "max-monochrome": null, 
    "max-resolution": null, 
    "max-width": 500px, 
    "min-aspect-ratio": null, 
    "min-color": null, 
    "min-color-index": null, 
    "min-height": null, 
    "min-monochrome": null, 
    "min-resolution": null, 
    "min-width": null,
    "monochrome": null, 
    "orientation": null, 
    "overflow-block": null, 
    "overflow-inline": null, 
    "pointer": null, 
    "resolution": null, 
    "scan": null, 
    "scripting": null, 
    "update": null, 
    "width": null
  ),
  $media2: (
    "any-hover": null, 
    "any-pointer": null, 
    "aspect-ratio": null, 
    "color": null, 
    "color-gamut": null, 
    "color-index": null, 
    "display-mode": null, 
    "grid": null, 
    "height": null, 
    "hover": null, 
    "inverted-colors": null, 
    "light-level": null, 
    "max-aspect-ratio": null, 
    "max-color": null, 
    "max-color-index": null, 
    "max-height": null, 
    "max-monochrome": null, 
    "max-resolution": null, 
    "max-width": 700px, 
    "min-aspect-ratio": null, 
    "min-color": null, 
    "min-color-index": null, 
    "min-height": null, 
    "min-monochrome": null, 
    "min-resolution": null, 
    "min-width": 500px,
    "monochrome": null, 
    "orientation": portrait, 
    "overflow-block": null, 
    "overflow-inline": null, 
    "pointer": null, 
    "resolution": null, 
    "scan": null, 
    "scripting": null, 
    "update": null, 
    "width": null
  ),
  $media3: (
    "any-hover": null, 
    "any-pointer": null, 
    "aspect-ratio": null, 
    "color": true, 
    "color-gamut": null, 
    "color-index": null, 
    "display-mode": null, 
    "grid": null, 
    "height": null, 
    "hover": null, 
    "inverted-colors": null, 
    "light-level": null, 
    "max-aspect-ratio": null, 
    "max-color": null, 
    "max-color-index": null, 
    "max-height": null, 
    "max-monochrome": null, 
    "max-resolution": null, 
    "max-width": 400px, 
    "min-aspect-ratio": null, 
    "min-color": null, 
    "min-color-index": null, 
    "min-height": null, 
    "min-monochrome": null, 
    "min-resolution": null, 
    "min-width": null,
    "monochrome": null, 
    "orientation": null, 
    "overflow-block": null, 
    "overflow-inline": null, 
    "pointer": null, 
    "resolution": null, 
    "scan": null, 
    "scripting": null, 
    "update": null, 
    "width": null
  ),
), false);