.foo {
  background-color: black;
  color: white;
  font-size: 14px;
  color: white;
  border: 1px solid gray;
  background-image: -webkit-linear-gradient(to bottom, transparent 80%, gray);
  background-image: -moz-linear-gradient(to bottom, transparent 80%, gray);
  background-image: -o-linear-gradient(to bottom, transparent 80%, gray);
  background-image: linear-gradient(to bottom, transparent 80%, gray);
}