////
/// @group brandy-utils
////

/// Sets a value in the `$brandy-config-map`
///
/// @type Mixin
/// @requires {Function} str-split()
/// @requires {Function} map-deep-set()
/// @requires {Function} map-has-nested-keys()
/// @requires {Variable} $brandy-config-map
/// @param {String} $key - A key in the configuration set given in dot notation
/// @param {Mixed} $value - Some value
/// @param {Boolean} $overwrite [false] - Allows or disallows overwriting of existing properties
/// @throws 'Configuration `#{$key}` already exists and overwriting was not permitted.'
@mixin config( $key, $value, $overwrite: false ) {
  
  @if ( map-has-nested-keys($brandy-config-map, str-split($key, '.')) and $overwrite == false ) {
    
    @error 'Configuration `#{$key}` already exists and overwriting was not permitted.'
    
  }
  
  $brandy-config-map: map-deep-set($brandy-config-map, str-split($key, '.'), $value) !global;
  
}

/// Sets a value in the `$brandy-const-map`
///
/// @type Mixin
/// @requires {Function} str-split()
/// @requires {Function} map-deep-set()
/// @requires {Function} map-has-nested-keys()
/// @requires {Variable} $brandy-const-map
/// @param {String} $key - A key in the constants map given in dot notation
/// @param {Mixed} $value - Some value
/// @throws 'Constant `#{$key}` already exists.'
@mixin const( $key, $value ) {
  
  @if ( map-has-nested-keys($brandy-const-map, str-split($key, '.')) ) {
    
    @error 'Constant `#{$key}` already exists.';
    
  }
  
  $brandy-const-map: map-deep-set($brandy-const-map, str-split($key, '.'), $value) !global;
  
}

/// Sets a value in the `$brandy-colors-map`
///
/// @type Mixin
/// @requires {Function} str-split()
/// @requires {Function} map-deep-set()
/// @requires {Function} map-has-nested-keys()
/// @requires {Variable} $brandy-colors-map
/// @param {String} $key - A key in the colors map given in dot notation
/// @param {Mixed} $value - Some value
/// @param {Boolean} $overwrite [false] - Allows or disallows overwriting of existing properties
/// @throws 'Color `#{$key}` already exists and overwriting was not permitted.'
@mixin color( $key, $value, $overwrite: false ) {

  @if ( map-has-nested-keys($brandy-colors-map, str-split($key, '.')) and $overwrite == false ) {
    
    @error 'Color `#{$key}` already exists and overwriting was not permitted.'
    
  }

  $brandy-colors-map: map-deep-set($brandy-colors-map, str-split($key, '.'), $value) !global;

}

/// Sets a value in the `$brandy-fonts-map`
///
/// @type Mixin
/// @requires {Function} str-split()
/// @requires {Function} map-deep-set()
/// @requires {Function} map-has-nested-keys()
/// @requires {Variable} $brandy-colors-map
/// @param {String} $key - A key in the fonts map given in dot notation
/// @param {Mixed} $value - Some value
/// @param {Boolean} $overwrite [false] - Allows or disallows overwriting of existing properties
/// @throws 'Font `#{$key}` already exists and overwriting was not permitted.'
@mixin font( $key, $value, $overwrite: false ) {
  
  @if ( map-has-nested-keys($brandy-fonts-map, str-split($key, '.')) and $overwrite == false ) {
    
    @error 'Font `#{$key}` already exists and overwriting was not permitted.'
    
  }

  $brandy-fonts-map: map-deep-set($brandy-fonts-map, str-split($key, '.'), $value) !global;
  
}

/// Sets a value in the `$brandy-screens-map`
///
/// @type Mixin
/// @requires {Function} str-split()
/// @requires {Function} map-deep-set()
/// @requires {Function} map-has-nested-keys()
/// @requires {Variable} $brandy-screens-map
/// @param {String} $key - A key in the screens map given in dot notation
/// @param {Mixed} $value - Some value
/// @param {Boolean} $overwrite [false] - Allows or disallows overwriting of existing properties
/// @throws 'Screen `#{$key}` already exists and overwriting was not permitted.'
@mixin screen( $key, $value, $overwrite: false ) {
  
  @if ( map-has-nested-keys($brandy-screens-map, str-split($key, '.')) and $overwrite == false ) {
    
    @error 'Screen `#{$key}` already exists and overwriting was not permitted.'
    
  }
  
  $brandy-screens-map: map-deep-set($brandy-screens-map, str-split($key, '.'), $value) !global;
  
}