<footer class="footer">
  
  Crafted with <span class="fa-heart"></span> by <a href="//github.com/laurenhamel">Lauren Hamel</a>, under <a href="//github.com/laurenhamel/brandy/blob/master/LICENSE.md">MIT</a>
  
</footer>