<header class="header">

  <div class="header-logo"><a href="">{{> icon}}</a></div>

  <nav class="header-nav nav">
    
    <label class="nav-toggle" for="nav-input"></label>
    
    <input type="checkbox" class="nav-input" id="nav-input">
    
    <ul class="nav-menu">
      <li class="nav-menu-item is-active">
        <a href="">Home</a>  
      </li>
      <li class="nav-menu-item">
        <a href="docs">Documentation</a>
      </li>
      <li class="nav-menu-item">
        <a href="//github.com/laurenhamel/brandy">Code</a>
      </li>
      <li class="nav-menu-item nav-menu-btn">
        <a href="{{package.homepage}}/archive/master.zip">Download</a>
      </li>
    </ul>
    
  </nav>
  
</header>